<nav>
  <a class="navbar-brand" href="/">Tebak Budaya</a>
  <div class="d-flex">
    <a href="/user/sign-in.html" class="btn-sign">Masuk</a>
    <a href="/user/register.html" class="btn-sign">Daftar</a>
  </div>
</nav>